/* colors:
    bg & light text: BGBGBG
    dark bg, hdr, nav, footer: 8A2231
    hilight: A89A5E
*/

/* global settings */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #DAD2D0; /*was #5C7584 */
}

/* to make all containers the same width */ 
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.button_1 {
  height: 38px;
  background: #E8491D;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #FFFFFF;
}

.dark {
  padding: 15px;
  background: #35424A;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* items inside header container */
header {
  background: #DAD2D0;
  color: #6B838A;
  min-height: 50px;
  border-bottom: #6B838A 3px solid;
  margin-bottom: 2px;
}

/* #branding is nested container around h1, includes <span> */
header #branding{
  float: left;
}

/* all the text in the <h1> header */
header h1 {
  font-size: 30px;
  font-weight: 100;
  margin-left: 0;
}

/* just the "Lamplighter" part of the <h1> header */
header h1 span {
  font-family: cursive;
  font-size: 45px;
  color: #0A2423;
  font-weight: bold;
}

/* items inside showcase container */
#showcase {
  min-height: 400px;
  background: url("../img/showcase.jpg") no-repeat 0 -400px;
}

/* text in the middle of the background photo */
#showcase h3 {
  text-align: center;
  font-size: 30px;
  margin: 0;
}

#showcase .showcase-content {
  width: 70%;
  margin: auto;
  background: #0A2423;
  color: #6B838A;
  border-radius: 90px;
  padding: 20px;
  opacity: 0.7;
  margin-top: 125px;

}
/* items inside the nav container */
#nav {
  min-height: 40px;
  background: #012E20;
  text-align: center;
}

nav li {
  display: inline;
}

nav a {
  color: #DBDBDB;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 30px 0 30px;
}

nav .current a {
  font-style: italic;
  color: #A89A5E;
}

nav a:hover {
  color: #5C7584;
}

/* Items inside the boxes container, including nested containers */
#boxes {
  margin-top: 20px;
}

/* to align the three nested boxes */
#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

/* set the width of the logos to 90px */
#boxes .box img {
  width: 90px;
}

/* items inside <aside> on About and Services pages */

aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}

/* Main-col */

article#main-col {
  float: left;
  width: 65%;
}

/* Services */

ul#services li {
  list-style: none;
  padding: 20px;
  border: #CCCCCC solid 1px;
  margin-bottom: 5px;
  background: #E6E6E6;
}

/* footer for all pages */

footer {
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  background-color: #012E20;
  color: #A89A5E;
}

/* Media Queries */

@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
}

header {
  padding-bottom: 20px;
}

#showcase h1 {
  margin-top: 40px;
}

#newsletter button, .quote button {
  display: block;
  width: 100%;
}

#newsletter form input[type="email"] {
  width: 100%;
  margin-bottom: 5px;
}
